@import '../../assets/styles/sass/variables';

.property {
  margin: 0 20px;
  color: $color-primary-red;

  &-contentContainer {
    margin-bottom: 20px;
  }

  &-title {
    font-size: $fs-m;
    padding-bottom: 12px;
  }

  &-location {
    font-size: $fs-s;
    padding-bottom: 10px;
  }

  &-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &-social {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    .property-user {
      display: flex;
    }

    .property-userName {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      font-size: $fs-s;
      margin-right: 10px;
      text-align: end;
    }

    .property-userPicture {
      img {
        height: 35px;
        width: 35px;
        border-radius: 100%;
      }
    }

    .property-rating {
      display: flex;
      align-items: center;
    }
  }
}

@media only screen and (min-width: $bp-desktop) {
  .property {
    &-contentContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 30px;
    }

    &-title {
      font-size: $fs-xl;
    }

    &-location {
      font-size: $fs-m;
      padding-bottom: 15px;
    }

    &-social {
      flex-direction: column;
      width: fit-content;

      .property-user {
        align-self: flex-end;

        img {
          height: 70px;
          width: 70px;
        }
      }

      .property-userName {
        justify-content: center;
        font-size: $fs-m;
      }
    }

    &-rating {
      justify-content: flex-end;

      svg {
        height: 30px;
        width: 30px;
      }
    }

    .dropdownContainer {
      display: grid;
      grid-template-columns: minmax(0, 1fr) 1fr;
      grid-gap: 50px;
    }
  }
}

