@import '../../assets//styles//sass//variables';

.property-rating {
  svg {
    height: 20px;
    width: 20px;
    margin-right: 3px;
    color: $color-grey;

    &.active {
      color: $color-primary-red
    }
  }
}
