$color-primary-red: rgba(255, 96, 96, 1);
$color-primary-red-hover: rgba(255, 96, 96, .9);
$color-white: #ffffff;
$color-grey: rgba(227, 227, 227, 1);

// Font-sizes
$fs-xs: 12px;
$fs-s: 14px;
$fs-m: 18px;
$fs-l: 24px;
$fs-xl: 36px;
$fs-xxl: 288px;

$radius-xsmall: 5px;
$radius-small: 10px;
$radius-md: 25px;

$bp-mobile: 758px;
$bp-tablet: 768px;
$bp-desktop: 992px;
$bp-desktop-l: 1200px;
