@import '../../assets/styles/sass/variables';

footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: $color-white;

  .logo {
    flex-grow: 0;
    margin-bottom: 20px;

    path {
      fill: $color-white;
    }
  }
}
